h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 #[strong Cod. ????]
        p.mb-0 Reconocer los componentes de la salud mental de acuerdo con los lineamientos y parámetros internacionales y nacionales.




