.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Prevención:
            | acciones orientadas a la erradicación, eliminación o minimización del impacto de la enfermedad y la discapacidad.
        hr
        p
            strong.mr-2 Promoción:
            | es el proceso que permite a las personas aumentar el control sobre su salud para mejorarla.
        hr
        p
            strong.mr-2 Salud:
            | es un estado de completo bienestar físico, psicológico y social y no solamente la ausencia de afecciones o enfermedades. (Moreno, 2008)
        hr
        p
            strong.mr-2 Salud mental:
            | estado dinámico que se expresa en la vida cotidiana a través del comportamiento y la interacción entre las personas.
        hr
        p
            strong.mr-2 Salud pública: 
            | es la ciencia y el arte de promover, prevenir las enfermedades y prolongar la vida a través de esfuerzos organizados de la sociedad.