.container#page-introduccion

    .header-ecored
        h1 Introducción

    .jumbotron.bg-white 
      .row.justify-content-center
        .col-12.px-0
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/3_Dq5SHwZ0I', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')                    

        .col-12
          p &nbsp; 

          p La salud mental es parte integral de la salud, tanto así que no hay salud sin salud mental como lo dice la Organización Mundial de la Salud (2018) “la salud mental es un estado de bienestar en el que la persona realiza sus capacidades y es capaz de hacer frente al estrés normal de la vida, de trabajar de forma productiva y de contribuir a su comunidad. En este sentido positivo, la salud mental es el fundamento del bienestar individual y del funcionamiento eficaz de la comunidad”, por eso es tan importante que las personas le den la misma importancia que a una dolencia física, de esta manera se puede decir que cuando hay salud es cuando se tiene un bienestar físico y mental que favorece las relaciones interpersonales, el contexto, las situaciones cotidianas y la forma como afronta situaciones adversas. 

          p En el contexto de la actividad física y el deporte se evidencia el estado de salud tanto física como mental de las personas que lo practican, desde la etapa de la infancia donde el niño con el ejemplo y la guía de sus padres crea hábitos saludables, en los  adolescentes  con la práctica de un deporte que hace parte de sus actividades extraescolares, cuando son adultos y la  mayor parte de su tiempo  es en el contexto laboral;  sin embargo tienen el hábito de las práctica de actividad física y en el adulto mayor para mantener su funcionalidad tanto física como mental. 

        //.col-12.col-lg-10.my-5
            img(src="assets/images/pages/intro/intro_02.svg", alt="", style="width:100%")           

        .col-12
          p Un aporte más de la OMS (2014) es que “la salud mental ha estado oculta tras una cortina de estigma y discriminación durante largo tiempo. Ha llegado la hora de que salga a la luz. La magnitud, el sufrimiento y la carga en términos de discapacidad y costos para los individuos, las familias y las sociedades son abrumadores. En los últimos años el mundo se ha tornado más consciente de la enorme carga y el potencial que existe para hacer progresos en salud mental. En efecto, podemos lograr un cambio usando el conocimiento que está presto a ser aplicado” es decir que llegó la hora de reconocerla y de trabajar integralmente desde las extremidades hacia adentro o desde el intelecto hacia afuera entendiendo que el ser humano es un todo integral.
        
          p Según la OMS (2020) “cada 10 de octubre se celebra el día mundial de la salud mental” con el objetivo de general conciencia sobre los problemas relacionados al tema y movilizar esfuerzos que ayuden a mejorar y mantener esta salud mental tan necesaria. El aprendiz estará en capacidad de adquirir nuevos conocimientos y a la vez crear y aplicar actividades a partir de técnicas que le permitan involucrarse en el entrenamiento de las personas para lograr un bienestar corporal y socioemocional en la sociedad actual sin importar la realidad o dificultad que enfrenta.