.container#tema_1

    .header-ecored
      h1 1. ¿Qué es salud y salud mental?

    .jumbotron.bg-white  
      .row.justify-content-center.align-items-center
        .col-auto.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_1/img_1_01.svg", alt="", style="width:320px")
        .col-12.col-lg
          p.mb-0 “Se entiende como salud el estado de completo bienestar físico, psicológico y social y no solamente la ausencia de afecciones o enfermedades” (Alcántara, 2008) es muy parecida a la definición de la Organización Mundial de la Salud (2020) que la define como “la salud es un estado de completo bienestar físico, mental y social, y no solamente la ausencia de afecciones o enfermedades” significa entonces esto que la salud es un estado de bienestar y de equilibrio que puede ser visto a nivel general o subjetivo ya que una persona es libre de sentirse como se siente y asumir vivir así, en caso de ser una mirada objetiva se requiere de la atención de un profesional de la salud que considere como realmente será su estado de salud a sabiendas que hay muchos aspectos de la salud, sobretodo la salud mental que no son fáciles de validar ni evaluar cómo se verá a lo largo de este proceso formativo.

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3#tema1_1
            h2 1.1 La salud mental

      .row.justify-content-center
        .col-12
          p Se entiende como un estado dinámico que se expresa en la vida cotidiana a través del comportamiento y la interacción intrapersonal (hacia la persona) e interpersonal (hacia otras personas) de manera tal que permite a los sujetos individuales y colectivos desplegar sus recursos emocionales, cognitivos y mentales para habitar por la vida cotidiana; para ejercer sus oficios, labores, relaciones y para ser contribución comunitaria en caso de querer serlo así.

          p.mb-0 Parafraseando a MedlinePlus (2019) se debe considerar que la salud mental incluye el bienestar emocional, psicológico y social porque ella afecta la forma en que pensamos, sentimos y actuamos cuando enfrentamos la vida. También ayuda a determinar cómo manejamos el estrés, se logran las relaciones y la toma de decisiones. La salud mental es importante en todas las etapas de la vida, desde la niñez y la adolescencia hasta la adultez y la vejez.        

        .col-12.col-lg-9
          img(src="assets/images/pages/tema_1/img_1_1_01.svg", alt="", style="width:100%").        

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3#tema1_2
            h2 1.2 Características de la Salud Mental

      .row.justify-content-center
        .col-12
          p La salud es fundamental en la vida de las personas, es la que determina la funcionalidad a nivel físico y mental para el desarrollo humano, como también un determinante en el mejoramiento constante de la calidad de vida de las personas.

          p A continuación, se presentan unos criterios que permiten verificar el estado de salud en condiciones adecuadas, el presente modelo fue elaborado por Jahoda & Lluch y resumido por Navarro (2008):

        .col-12.col-lg-9.my-5
          img(src="assets/images/pages/tema_1/img_1_2_01.svg", alt="", style="width:100%")

        .col-12
          p Adicionalmente se debe considerar la opinión de otros expertos que tocan el tema. Muchos aspectos de la vida de las personas según Pacheco (2003), son signos indicativos de salud mental, algunos de ellos son:

        .col-12.col-md-7.my-5
          img(src="assets/images/pages/tema_1/img_1_2_02.svg", alt="", style="width:100%")

        .col-12
          p.mb-0 Con estos tres modelos o aspectos se hace relación a las dimensiones de la salud mental como prioridad en la vida y se puede hacer un análisis general somero de ¿cómo se sienten las personas?.
    
    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3#tema1_3
            h2 1.3 ¿Por qué es importante la salud mental?

      .row.mb-5
        .col-12
          p Toma entonces relevancia este concepto y si lo revisa bien su importancia es magna como lo expresan los expertos de MedlinePlus (2019) cuando enlistan algunas de las razones por las que se hace necesario el buen manejo de la salud mental:

      .row.justify-content-center.align-items-center
        .col-auto.mb-5.mb-lg-0          
          img(src="assets/images/pages/tema_1/img_1_3_01.svg", alt="", style="width:350px")
        .col-12.col-lg
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Enfrentar el estrés de la vida
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Estar físicamente saludable
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Tener relaciones sanas
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Contribuir en forma significativa a su comunidad
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Trabajar productivamente
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Alcanzar su completo potencial
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Su salud mental también es importante porque puede afectar su salud física. Por ejemplo, los trastornos mentales pueden aumentar su riesgo de problemas de salud física, como accidente cerebrovascular, diabetes tipo 2 y enfermedades cardíacas.


    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3#tema1_4
            h2 1.4 Indicadores y cifras

      .row.justify-content-center
        .col-12
          p Los problemas de salud mental cada año va en aumento ya se ha convertido en problema de salud pública, de acuerdo al contexto, la población puede estar más expuesta a sufrir trastornos mentales, pobreza, enfermedades no transmisibles, violación de derechos humanos, discriminación, ansiedad y depresión; las personas expuestas a conflictos y a discriminación son susceptibles a los problemas derivados de la salud mental. 

        .col-12.col-lg-9.my-5
          img(src="assets/images/pages/tema_1/img_1_4_01.svg", alt="", style="width:100%")

      .row
        .col-12
          p.mb-0 Los trastornos mentales se presentan alrededor de los 14 años cuando el adolescente está desarrollando su identidad de personalidad, el suicido es la segunda causa de muerte entre los jóvenes de 14 a 29 años, el consumo de alcohol y sustancias psicoactivas cada vez entran en la vida de las personas a edades más tempranas, la depresión afecta alrededor de 300 millones de personas en el mundo, y es la primera causa de discapacidad, todos estos datos son sacados del Plan de acción sobre salud mental 2013-2020 de la Organización Mundial de la Salud (2013) que se le invita a consultar en el siguiente vínculo:

        .col-auto.mt-5        
          a(href="",target="_blank",style="color:#12263F")        
            .jumbotron.mb-0
              .row.justify-content-center.align-items-center
                .col-auto
                  img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                .col
                  p.mb-0 #[strong Recurso.] Plan de acción sobre salud mental 2013-2020.

        .hr-divider.my-5
        
        .col-12
          p.mb-3 Antes de pensar en controlar los trastornos o afecciones producidas por la salud mental es necesario que las personas entiendan la importancia de:

      .row.justify-content-center.align-items-center
        .col-auto.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_1/img_1_4_02.svg", alt="", style="width:350px")
        .col-12.col-lg-5
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p La alimentación.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p El descanso.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p El sueño.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p La estabilidad laboral, emocional, familiar y social.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p.mb-0 El planteamiento de objetivos a corto, mediano y largo plazo, que le permiten tener motivos para vivir en el mundo actual y lo dejan entender que todas las situaciones son pasajeras.

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3#tema1_5
            h2 1.5 ¿En Colombia cómo vamos?  

      .row
        .col-12
          p Aunque en los últimos 8 años ha bajado la tasa de suicidio que pasó de 5.22 en 1998 a 3.84 por millón de habitantes en 2013, ha aumentado en menores de edad y adulto mayor. En mayo de 2019 se le acaba el plazo al Ministerio de Salud y Protección Social para ajustar y expedir, mediante acto administrativo, la Política Nacional de Salud Mental, acorde con los cambios normativos y el perfil epidemiológico del país.

          p Hace algunos años, la reconocida escritora colombiana Piedad Bonnett reveló lo que fue para ella una verdadera pesadilla: el suicidio de su hijo. El joven tomó la decisión de acabar con su vida tras sufrir una larga enfermedad mental. En el libro “lo que no tiene nombre” Bonnett (2013) uno de los más leídos acerca del tema, Bonnett buscó mostrar al país el drama de las familias que tienen entre sus miembros a uno que padece de un trastorno mental. Una situación de por sí difícil que se torna insoportable por la poca o ninguna atención que reciben los pacientes, los altos costos de los medicamentos y tratamientos, la escasez de profesionales capacitados para atenderlos y la estigmatización de la sociedad. El caso de Daniel, como se llamaba el hijo de la escritora, fue emblemático como también lo fue el de Sergio Urrego, el joven estudiante que aparentemente no soportó el acoso del que fue víctima cuando descubrieron en el colegio que era homosexual y por ello terminó quitándose la vida o el de Juan David Arango, el periodista paisa que a comienzos del 2015 decidió no existir más.

          p Estos jóvenes son casos que evidencian el estado de salud mental de los colombianos. Según el Estudio Nacional de Salud Mental - Colombia 2003 del Ministerio de la Protección Social (2003), la última investigación que tiene el país sobre este tema, uno de cada 14 colombianos ha presentado trastornos sicológicos en los últimos 30 días; los más frecuentes son los de ansiedad (19,3%), trastornos de estado de ánimo (15 por ciento) y el uso de sustancias psicoactivas (10,6%). De acuerdo con el estudio, el 40% de los colombianos ha presentado al menos un trastorno mental en algún momento de su vida y apenas uno de cada diez pacientes con este diagnóstico ha recibido atención profesional del tema.

          p Por regiones se encontró que la prevalencia de cualquier trastorno alguna vez en la vida, la región Bogotá, D.C es la que presenta la prevalencia más elevada: 46.7% en contraste con 40.1% que fue la prevalencia de cualquier trastorno para todo el país, señala el estudio que se llevó a cabo cuando Colombia participó en la Encuesta Mundial sobre Salud Mental (EMSM), liderada por la Organización Mundial de la Salud (OMS) y la Universidad de Harvard    


      .row.justify-content-center.align-items-center
        .col-auto.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_1/img_1_5_01.svg", alt="", style="width:300px")
        .col-12.col-lg-7
          .row.justify-content-center.mb-5
            .col-auto
              a(href="media/documentos/estudio_nacional_de_salud_mental_2003.pdf",target="_blank",style="color:#12263F")        
                .jumbotron.mb-0
                  .row.justify-content-center.align-items-center
                    .col-auto
                      img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                    .col
                      p.mb-0 #[strong Recurso.] Estudio Nacional de Salud Mental Colombia (2003)
          .row.justify-content-center
            .col-auto
              a(href="media/documentos/CO031102015-salud_mental_tomoI.pdf",target="_blank",style="color:#12263F")        
                .jumbotron.mb-0
                  .row.justify-content-center.align-items-center
                    .col-auto
                      img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                    .col
                      p.mb-0 #[strong Recurso.] Encuesta Nacional de Salud Mental Colombia (2015)





        


     
